<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.linkaloo">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="Linkaloo">
         <activity
             android:name=".ShareReceiverActivity"
             android:exported="true"
             android:label="Guardar en Linkaloo">
             <!-- Un único enlace / texto -->
             <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="text/uri-list" />
            </intent-filter>

            <!-- Abrir enlaces directamente -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                 <data android:scheme="https" />
                 <data android:scheme="http" />
             </intent-filter>
         </activity>
     </application>
  </manifest>
